.background {
  background: url("images/backgroundimage.png") center center / cover no-repeat;
  background-repeat: no-repeat;
  width: 760px;
  height: 760px;
}

#mode-users #page * {
    box-sizing: border-box;
}
.shelf-wrapper {
    background-color: #E8B572;
}
.shelf-wrapper {
    width: 100%;
    background-image: url("images/maple_left.png"),url("images/maple_right.png");
    background-repeat: repeat-y,repeat-y;
    background-position: top left,top right;
    background-size: 39px 225px,39px 225px;
}

#mode-users #page * {
    box-sizing: border-box;
}
#shelf.shelf-front-area .shelf-wrapper .shelf-area {
    min-height: 706px;
}
#shelf.shelf-front-area .shelf-wrapper .shelf-area {
    margin: 0 39px;
    padding: 30px 0 0;
    background-image: url("images/maple_shadow_left.png"),url("images/maple_shadow_right.png"),url("images/maple_center.png");
    background-repeat: repeat-y,repeat-y,repeat;
    background-position: top left,top right,top left;
    background-size: 16px 225px,16px 225px,500px 225px;
}
